*.idea
*.pyc
.DS_Store

/data/**
/database/**
/tmp/**
/Debugging_and_Improvements/**
/Bin_(Old)/**


/src03_Assembly/Z-test.py
/src03_Assembly/test12.py

/src02_LigandCharge/test.json

!/data/tmQMG_Jsons_test/complex_db_original.json
!/data/tmQMG_Jsons_test/tmQM_Ligands_unique_original.json
!/data/tmQMG_Jsons_test/tmQM_Ligands_full_original.json

