*.idea
*.pyc 
/data/csd_ase_dict.pickle
/data/ligand_dict.pickle
/data/new_xyzs.pickle
/database/tmQM/raw_data
/Old/
/Debugging_and_Improvements/
/__init__.py
/src03_Assembly/test.py
/src03_Assembly/test12.py
/data/Assembled_Molecules/
../src/__pycache__/utilities_assembly.cpython-39.pyc
/src/Assembly_Test.py
/data/ligand_db_test.pickle
/data/ligand_dict_filtered.pickle
/data/ligand_dict_test.pickle
/tmp/input_complex.xyz
/tmp/lig_xyz.xyz
/tmp/new_xyzs.pickle
/tmp/tmp.xyz
/data/LigandDatabases/ligand_db.pickle
/src/A_Ligand_Filter_Test.py
/database/tmQM_Extended/
/data/Charge/charge_dict.pickle
/tmp/stk_Building_block.xyz
/tmp/temp_mol.mol
/tmp/temp_mol_2.mol
/tmp/temp_xyz.xyz
/tmp/temp_xyz_2.xyz
/tmp/tmp.mol
/data/ligand_db_NO_filtered.pickle
/data/ligand_dict_NO_and_dup_filtered.pickle
/src04_Charge/Combinatorical_Approach.py
/tmp/complex.mol
/tmp/complex.xyz
/tmp/Optimizer_output_else.mol
/data/LigandDatabases/ligand_db_w_filters.pickle
data/*Felix_original*
database/tmQM/data/atomic_properties/atomic_properties.json
/data/*
