ase
cclib
jsonlines
networkx
numpy
#openbabel>=3.1.1   # needs to be installed using 'conda install -c conda-forge openbabel'
pandas
pyyaml
rdkit
scipy<=1.10.1       # scikit-learn Lasso fit with sparse matrices fails with scipy 1.11
scikit-learn
sympy
tqdm
sphinx>=4.3.0             # to avoid bullet-point bug
sphinx_rtd_theme>=0.5.1   # to avoid bullet-point bug
mchammer        # original version ==1.0.4
pysmiles==1.0.2
spindry         # original version ==0.0.91
stk             # original version ==2022.6.17.0
vabene          # original version ==0.0.5