ase
jsonlines
networkx
numpy
#openbabel>=3.1.1   # needs to be installed using 'conda install -c conda-forge openbabel'
pandas
pyyaml
rdkit
scipy<=1.10.1       # scikit-learn Lasso fit with sparse matrices fails with scipy 1.11
scikit-learn
sympy
tqdm
mchammer==1.0.4
pysmiles==1.0.2
spindry==0.0.91
stk==2022.6.17.0
vabene==0.0.5